@model MvcUserApp.Models.User

<h2>User Form</h2>

<form method="post">

    <div>
        <label>First Name</label>
        <input asp-for="FirstName" />
    </div>

    <div>
        <label>Last Name</label>
        <input asp-for="LastName" />
    </div>

    <div>
        <label>Age</label>
        <input asp-for="Age" />
    </div>

    <h3>Address</h3>

    <div>
        <label>Street</label>
        <input asp-for="Address.Street" />
    </div>

    <div>
        <label>City</label>
        <input asp-for="Address.City" />
    </div>

    <div>
        <label>ZipCode</label>
        <input asp-for="Address.ZipCode" />
    </div>

    <button type="submit">Submit</button>

</form>